################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirebaseMyWorkerService/bin/Debug
/FirebaseMyWorkerService/obj
/MauiLib1/bin/Debug
/MauiLib1/obj
